$robin-100: #73e9dc;
$robin-200: #5ce6d6;
$robin-300: #45e2d0;
$robin-400: #2edfca;
$robin-500: #17dbc4;
$robin-600: #00d8bf;
$robin-700: #00c5ae;
$robin-800: #00b19d;
$robin-900: #009e8b;
$robin-1000: #008a7a;
$robin-1100: #007669;
$robin-1200: #006357;

$robin-transparent-100: rgba(0, 99, 87, 0.06);
$robin-transparent-200: rgba(0, 99, 87, 0.16);
$robin-transparent-300: rgba(0, 99, 87, 0.26);
$robin-transparent-400: rgba(0, 99, 87, 0.36);
$robin-transparent-500: rgba(0, 99, 87, 0.46);
$robin-transparent-600: rgba(0, 99, 87, 0.58);

$charleston-100: #ffffff;
$charleston-200: #ebebeb;
$charleston-300: #d7d8d7;
$charleston-400: #b0b1b0;
$charleston-500: #898b89;
$charleston-600: #626462;
$charleston-700: #3b3e3b;
$charleston-800: #252825;
$charleston-900: #1e201e;
$charleston-1000: #161816;
$charleston-1100: #0f100f;

$charleston-transparent-100: rgba(19, 20, 19, 0.06);
$charleston-transparent-200: rgba(19, 20, 19, 0.16);
$charleston-transparent-300: rgba(19, 20, 19, 0.26);
$charleston-transparent-400: rgba(19, 20, 19, 0.36);
$charleston-transparent-500: rgba(19, 20, 19, 0.46);
$charleston-transparent-600: rgba(19, 20, 19, 0.58);