<nb-layout>
  <nb-layout-header fixed class="header">
    
    <div class="header-container">

      <div class="header-left">
        <a class="header-menu-toggler" href="#" (click)="toggleMenu()">
          <nb-icon icon="menu"></nb-icon>
        </a>
        <a class="header-logo" href="#">
          <img src="/assets/images/logo/finalround_logo_full_light.svg" alt="FinalRound">
        </a>
      </div>
      
      <nb-actions size="small" class="header-actions">
        <nb-action *ngIf="languages.length > 0" class="header-action control-item" [nbContextMenu]="languages" nbContextMenuTag="lang-menu" icon="globe-outline"></nb-action>
        <nb-action *ngIf="userMenuItems.length > 0" class="header-action control-item" [nbContextMenu]="userMenuItems" nbContextMenuTag="user-actions">
          <nb-user size="medium" name="{{loggedUser.firstname}} {{loggedUser.lastname}}" picture="/assets/images/user/user.png"></nb-user>
        </nb-action>
      </nb-actions>

    </div>
  
  </nb-layout-header>

  <nb-sidebar tag="left">
    <nb-menu *ngIf="mainMenuItems.length > 0" [items]="mainMenuItems">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>