<nb-card accent="primary">
    <nb-card-header>{{ 'PAGES.TOURNOI.LISTE.TITRE' | translate }}</nb-card-header>
    <nb-card-body>
        <div class="table-container">
            <ng2-smart-table [settings]="settings" [source]="source" (create)="toggleAddSidebar()" (edit)="toggleUpdateSidebar($event)" (delete)="deleteTournament($event)" (userRowSelect)="showTournament($event)"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>

<firo-sidebar [tag]="'appSidebar'" #addSidebar>
  <app-tournament-add (added)="tournamentAdded($event)"></app-tournament-add>
</firo-sidebar>

<firo-sidebar [tag]="'updateSidebar'" #updateSidebar>
  <app-tournament-update (updated)="tournamentUpdated($event)" #updateComponent></app-tournament-update>
</firo-sidebar>

