@import './styles/themes.scss';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

@import './styles/tables.scss';

input {
  margin: .5em 0;
}
.input-success {
  border-color: nb-theme(color-success-500) !important;
}
.input-danger {
  border-color: nb-theme(color-danger-500) !important;
}
.input-warning {
  border-color: nb-theme(color-warning-500) !important;
}
