<nb-card accent="primary">
  <nb-card-body>

    <nb-tabset>

      <nb-tab tabTitle="Informations générales" responsive>

        <div class="info-container">
          <div class="info-group">
            <label class="info-label">Nom</label>
            <p class="info-value">{{ tournament.name }}</p>
          </div>

          <div class="info-actions">
            <button nbButton type="submit" status="danger" class="pull-right" (click)="deleteTournament()">Supprimer</button>
          </div>
        </div>

      </nb-tab>

      <nb-tab tabTitle="Compétiteurs" responsive>

        <ng2-smart-table [settings]="smartTableSettings" [source]="smartTableSource" (create)="expandSidebar()"
          (delete)="deleteTournament($event)" (userRowSelect)="showTournament($event)"></ng2-smart-table>

      </nb-tab>

      <nb-tab tabTitle="Bracket" responsive>

        <!-- <button nbButton status="primary" (click)="generateSingleEliminationGrid()">Générer le bracket</button>
            
            <div class="grid-container" #gridContainer>
                <div class="grid">
                    <div class="grid-scroll-arrow grid-scroll-arrow-left" (mouseover)="startScrollLeft()" (mouseout)="stopScrollLeft()"></div>
                    <div class="grid-scroll-arrow grid-scroll-arrow-right" (mouseover)="startScrollRight()" (mouseout)="stopScrollRight()"></div>
                    <div class="round" *ngFor="let round of tournament.grid">
                        <div class="game" [ngClass]="{'game-even': even, 'game-odd': odd}" *ngFor="let game of round; let index = index; let even = even; let odd = odd">
                        <div class="competitor competitor1">{{ game.c1 ? game.c1.name : '' }}</div>
                        <div class="competitor competitor2">{{ game.c2 ? game.c2.name : '' }}</div>
                        </div>
                    </div>
                </div>
            </div> -->

      </nb-tab>

    </nb-tabset>

  </nb-card-body>
</nb-card>
