<nb-layout>
  <nb-layout-header fixed class="header">
    
    <div class="header-container">

      <div>
        <a class="header-menu-toggler" href="#" (click)="toggleMenu()">
          <nb-icon icon="menu"></nb-icon>
        </a>
        <a class="header-logo" href="#">FinalRound</a>
      </div>

      <div class="header-right">
        <div [nbContextMenu]="languages" nbContextMenuTag="lang-menu">
          <nb-icon class="flag" icon="{{ selectedLanguage.icon.icon }}" pack="flag"></nb-icon>
        </div>
      </div>

    </div>
  
  </nb-layout-header>

  <nb-sidebar tag="left">
    <nb-menu [items]="menuItems">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>