<nb-card>
    
        <nb-card-header>Modifier un tournoi {{ id }}</nb-card-header>
        
        <nb-card-body>
            <form [formGroup]="updateTournamentForm" (ngSubmit)="updateTournament()">
    
                <div class="form-group">
                    <label class="label">{{ 'PAGES.TOURNOI.AJOUTER.FORMULAIRE.CHAMP.NOM.LABEL' | translate }}</label>
                    <input #tournamentName type="text" nbInput fullWidth formControlName="tournamentName" [(ngModel)]="tournament.name" [ngClass]="{
                        'input-danger': updateTournamentForm.controls['tournamentName'].invalid && (updateTournamentForm.controls['tournamentName'].dirty || updateTournamentForm.controls['tournamentName'].touched), 
                        'input-success': updateTournamentForm.controls['tournamentName'].valid && (updateTournamentForm.controls['tournamentName'].dirty || updateTournamentForm.controls['tournamentName'].touched)
                    }">
                    <div class="form-input-error text-danger" *ngIf="updateTournamentForm.controls['tournamentName'].invalid && (updateTournamentForm.controls['tournamentName'].dirty || updateTournamentForm.controls['tournamentName'].touched)">
                        <small *ngIf="updateTournamentForm.controls['tournamentName'].errors.required">{{ 'PAGES.TOURNOI.AJOUTER.FORMULAIRE.CHAMP.NOM.ERREUR.CHAMP_OBLIGATOIRE.MESSAGE' | translate }}</small>
                    </div>
                </div>
    
                <div class="form-group submit-group">
                    <button nbButton type="submit" status="primary" [disabled]="updateTournamentForm.invalid">{{ 'PAGES.TOURNOI.AJOUTER.FORMULAIRE.BOUTON.CREER' | translate }}</button>
                </div>
    
            </form>
        </nb-card-body>
    
    </nb-card>