<nb-card accent="primary">
    <nb-card-header>{{ 'PAGES.TOURNOI.LISTE.TITRE' | translate }}</nb-card-header>
    <nb-card-body>
        <div class="table-container">
            <ng2-smart-table [settings]="settings" [source]="source" (create)="expandSidebar()" (delete)="deleteTournament($event)" (userRowSelect)="showTournament($event)"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>

<firo-sidebar #firoSidebar>
  <app-tournament-add (added)="tournamentAdded($event)"></app-tournament-add>
</firo-sidebar>

